@import "vendors";

$breakpoints: (
  small : 420px,
  medium: 800px,
  large : 1024px,
  xlarge: 1400px
);

$primary-color: $light-primary-color;
$accent-color: $nord10;
$action-color: saturate(darken($nord4, 15%), 10%);
$terminal-background-color: $nord1;