@import "~/style/index";

.dashboard__page {

    @include medium-up {
        padding: 0 5em;
    }
    
    > .__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        
        > h2 {
            font-family: inherit;
            font-weight: 200;
            font-size: 1.1rem;
        }
    }
}