@import "~/style/index";

.textual-modal-layout__component {
    padding: 20px;
    color: white;
    font-size: 1.2em;
    text-shadow: 0 0 5px rgba(0, 0, 0, .9), 0 0 15px rgba(0, 0, 0, 1);

    > .__actions-container {
        display: flex;
        justify-content: flex-end;
        margin: 20px 0;

        > .__action {
            cursor: pointer;
            margin: 8px 15px;
            text-shadow: 0 0 5px rgba(0, 0, 0, .4), 0 0 10px rgba(0, 0, 0, .4);

            &:hover {
                text-decoration: underline;
            }


            &.--success {
                color: darken($nord14, 30%);
                text-shadow: 0 0 15px rgba($nord3, .8), 0 0 6px rgba(white, 1);
            }

            &.--danger {
                color: $nord11;
                text-shadow: 0 0 15px rgba($nord11, .8), 0 0 6px rgba(white, 1);
            }
        }
    }
}