@import "~/style/index";

.modal-container__container {
    position: fixed;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    padding: 10px;
    background: rgba($dark-primary-color, .2);
    animation: fadeIn linear .2s;
    justify-content: center;
    align-items: center;
    z-index: 99;
    display: none;

    &.--visible {
        display: flex;
    }

    > .__modal {
        @include small-up {
            > * {
                position: fixed;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
            }
        }
        @include large-up {
            > * {
                position: relative;
                min-width: 500px;
            }
        }
    }
}