@import "~/style/index";

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html, body {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

* {
    box-sizing: border-box;
    position: relative;
}

input {
    font-family: inherit;
}

body {
    background-color: $primary-color;
    min-height: 100vh;
    @extend %container-stretched;
}

#app {
    @extend %container-stretched;
}

.app-container__component {
    @extend %container-stretched;
    transition: filter ease-in-out .2s;

    &.--blurred {
        filter: blur(7px);
    }
}

/** Shared classes **/

.neui-element-flat {
    @include neumorphistic-element($primary-color, $shape: 'flat');
}

.neui-element-pressed {
    @include neumorphistic-element($primary-color, $shape: 'pressed');
}

.neui-element-concave {
    @include neumorphistic-element($primary-color, $shape: 'concave');
}

.neui-element-convex {
    @include neumorphistic-element($primary-color, $shape: 'convex');
}

.neui-button {
    @include uppercase();
    margin: 5px;
    font-family: inherit;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: flat-shadow($primary-color);
    &:hover {
        @include convex($primary-color);
    }

    &:active {
        @include pressed($primary-color);
    }

    &.--success {
        @include flat-noshadow($nord14);
        color: white;

        &:hover {
            @include convex($nord14, $shadow-offset: 8px, $shadow-alpha: .5);
        }

        &:active {
            @include pressed($nord14);
        }
    }

    &.--danger {
        @include flat-noshadow($nord11);
        color: white;

        &:hover {
            @include convex($nord11, $shadow-offset: 8px, $shadow-alpha: .5);
        }

        &:active {
            @include pressed($nord11);
        }
    }
}

.modal {
    padding: 10px 40px 0 40px;
    min-height: 200px;
    border-radius: 8px;
    @include flat-noshadow(darken($primary-color, 0%));
    box-shadow: 0 0 20px lighten($nord3, 10%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    > .__header {
        h3 {
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}