@import "~/style/index";

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html, body {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

* {
    box-sizing: border-box;
    position: relative;
}

input {
    font-family: inherit;
}

body {
    background-color: $primary-color;
    min-height: 100vh;
    @extend %container-stretched;
}

#app {
    @extend %container-stretched;
}

.app-container__component {
    @extend %container-stretched;
    transition: filter ease-in-out .2s;

    &.--blurred {
        filter: blur(7px);
    }
}

/** Shared classes **/

.neui-element-flat {
    @include neumorphistic-element($primary-color, 'flat');
}

.neui-element-pressed {
    @include neumorphistic-element($primary-color, 'pressed');
}

.neui-element-concave {
    @include neumorphistic-element($primary-color, 'concave');
}

.neui-element-convex {
    @include neumorphistic-element($primary-color, 'convex');
}