@import "~/style/index";

.app__component {
    width: 100%;
    @include container;
    padding: 20px 10px;

    > .__header {

        height: 80px;
        line-height: 80px;
        padding: 0 2em;
        margin-bottom: 20px;

        > h1 {
            font-family: inherit;
            font-weight: 300;
            cursor: pointer;
            display: inline-block;
            text-transform: uppercase;
            font-size: 1.5em;
            margin: 0;
            letter-spacing: .2em;

            > * {
                text-decoration: none;
                color: $nord0;
                cursor: pointer;
                user-select: none;
                -ms-user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
            }
        }
    }

    
}