@import "~/style/index";

.app__component {
    width: 100%;
    @include container;
    padding: 20px 10px;

    h1 {
        font-family: inherit;
        font-weight: 300;
        cursor: pointer;
        display: inline-block;

        > * {
            text-decoration: none;
            color: $nord0;
            cursor: pointer;
            user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
        }
    }
}